* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Raleway','Open Sans', 'sans serif';
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

h1  {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2.5rem 0;
    text-align: center;
}

/*----------------------------- Banner ----------------------------------*/

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px black solid;
    width: 100%;
    background-image: url(landscape%20banner.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    font-family: 'Raleway', 'Open Sans', 'sans serif';
    width: 30%;
}

.logo h1 {
    color: white;
}


/*--------------------------- Navigation ----------------------------*/

.top-nav {
    width: 40%;
}

.top-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: white;
    font-weight: 800;
}

.top-nav a {
    padding: 27px 20px;
}

nav a, nav a:visited {
    color: black;
}

nav a:hover {
    color: white;
}

nav a.selected {
    color: yellow;
}

.social-icon {
    list-style: none;
    width: 25%;
    text-align: center;
}

.social-icon li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.social-icon a {
    padding: 10px;
}


.social-icon img {
    border-radius: 4px;
}

/********************Content**************************/

p {
    font-size: 1.5em;
    font-weight: 300;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: tomato;
    background-image: url(web%20design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}

.column {
    width: 85%;
    padding: 25px 25px;
    color: white;
}

.learn-more {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 3rem;
  width: 20%;
  text-align: center;
  background-color: grey;
}

.learn-more a {
    height: 3rem;
    width: 20%;
    color: black;
}


/*--------------------------- Footer ---------------------------------*/


.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    font-size: 1rem;
    border: 1px black solid;
    color: white;
    padding: 5px 0;

}

.footer span {
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 40%;
}

.bottom-nav {
    width: 50%;
    text-align: center;
}

.bottom-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 1.5rem;
}

.bottom-nav img {
    margin-right: 1rem;
    border-radius: 50%;
    text-align: center;
}

/*--------------------------- Tablet Screen ------------------------------*/

@media (max-width: 1470px) {


.banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
}

.top-nav {
    width: 100%;
    text-align: center;
}

.social-icon {
    width: 100%;
    text-align: center
}

.footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer span {
        width: 100%;
    }

.bottom-nav {
        width: 100%;
        text-align: center;
    }

.learn-more {
        width: 20%;
}

}

/****************** Small Screen ******************/

@media (max-width:769px) {

.banner,
.wrapper,
.top-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.logo h1 {
    font-size: 1.02rem;
}

.top-nav,
.social-icon {
   margin-left: -15px;
}

.top-nav li {
    width: 100%;
}

.top-nav a {
    width: 100%;
    text-align: center;
}

.wrapper {
    width: 100%;
}

.wrapper h2 {
    font-size: 1.25rem;
    margin: .15rem 0;
}

.wrapper p {
    font-size: 1.25rem;
}

.column {
    width: 100%;
}

.learn-more {
    width: 40%;
    margin: auto;
    font-size: .75rem;
}

.footer span {
    padding: .75rem .5rem;
}

.bottom-nav li {
    padding: .75rem .5rem;
}

}

