* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Raleway','Open Sans', 'sans serif';
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

h1  {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2.5rem 0;
    text-align: center;
}

/*------------------ FORM -------------------------------*/

form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
  border-radius: 8px;
  color: white;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: black;
  background-color: tomato;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/*----------------------------- Banner ----------------------------------*/

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px black solid;
    width: 100%;
    background-image: url(eclipse.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    font-family: 'Raleway', 'Open Sans', 'sans serif';
    width: 30%;
}

.logo h1 {
    color: white;
}


/*--------------------------- Navigation ----------------------------*/

.top-nav {
    width: 40%;
}

.top-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: white;
    font-weight: 800;
}

.top-nav a {
    padding: 27px 20px;
}

nav a, nav a:visited {
    color: white;
}

nav a:hover {
    color: white;
}

nav a.selected {
    color: yellow;
}

.social-icon {
    list-style: none;
    width: 25%;
    text-align: center;
}

.social-icon li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.social-icon a {
    padding: 10px;
}


.social-icon img {
    border-radius: 4px;
}

/*-------------------- Content --------------------------------*/

p {
    font-size: 1.5em;
    font-weight: 300;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: tomato;
    background-image: url(circuit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column {
    width: 85%;
    padding: 25px 25px;
    color: white;
    font-weight: bold;
}

.ann-inc {
    text-align: center;
}

.ann-inc img {
    border-radius: 10px;
}

.interests {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.interests img {
    margin: 2rem 1.25rem;
    border-radius: 10px;
}

.education {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.education img {
    margin: 2rem 2rem;
    border-radius: 10px;
}

.learn-more {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 3rem;
  width: 20%;
  text-align: center;
  background-color: grey;
  margin: 2rem 0;
  padding: 1rem 1rem 1.5rem 1rem;
}

.learn-more a {
    height: 3rem;
    width: 20%;
    color: black;
}


/*--------------------------- Footer ---------------------------------*/


.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    font-size: 1rem;
    border: 1px black solid;
    color: white;
    padding: 5px 0;

}

.footer span {
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 40%;
}

.bottom-nav {
    width: 50%;
    text-align: center;
}

.bottom-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 1.5rem;
    list-style: none;
}

.bottom-nav img {
    margin-right: 1rem;
    border-radius: 50%;
    text-align: center;
}

/*--------------------------- Tablet Screen ------------------------------*/

@media (max-width: 1470px) {


.banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
}

.top-nav {
    width: 100%;
    text-align: center;
}

.social-icon {
    width: 100%;
    text-align: center
}

.learn-more {
    padding: 1rem;
}

.footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer span {
        width: 100%;
    }

.bottom-nav {
        width: 100%;
        text-align: center;
    }

.learn-more {
        width: 20%;
}

}

/****************** Small Screen ******************/

@media (max-width:769px) {

.banner,
.wrapper,
.top-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.logo h1 {
    font-size: 1.02rem;
}

.top-nav,
.social-icon {
   margin-left: -15px;
}

.top-nav li {
    width: 100%;
}

.top-nav a {
    width: 100%;
    text-align: center;
}

form h3,
legend {
    font-size: 1rem;
    text-align: center;
}

.wrapper {
    width: 100%;
}

.wrapper h2 {
    font-size: 1.25rem;
    margin: .15rem 0;
}

.wrapper p {
    font-size: 1.25rem;
}

.column {
    width: 100%;
}

.ann-inc {
     margin: 2rem 0;
}

.education {
     margin: 2rem 0;
}

.learn-more {
    width: 40%;
    margin: 2rem auto;
    font-size: .75rem;
    padding: 1rem .25rem;
}

.footer span {
    padding: .75rem .5rem;
}

.bottom-nav li {
    padding: .75rem .5rem;
}

}

